<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shixin">

    <uses-sdk
        android:minSdkVersion="21"
        tools:overrideLibrary="com.hi.dhl.jdatabinding" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.customview.CustomDragScaleActivity"
            android:exported="true" />
        <activity android:name=".ui.practice.LambdaActivity" />
        <activity android:name=".ui.jetpack.JetIndexActivity" />
        <activity android:name=".ui.jetpack.flow.FlowDemoActivity" />
        <activity android:name=".ui.customview.touchevent.ActionPointActivity" />
        <activity android:name=".ui.windowmanager.WindowManagerDemoActivity" />
        <activity android:name=".ui.customview.CustomViewGuideActivity" />
        <activity android:name=".ui.sourceread.ViewPager2Activity" />
        <activity android:name=".ui.ndktest.NdkTestActivity" />
        <activity android:name=".ui.jetpack.livedata.ui.NameActivity" />
        <activity android:name=".ui.koin.ui.MySimpleKoinActivity" />
        <activity android:name=".ui.jetpack.databinding.DatabingTestActivity" />
        <activity android:name=".ui.sourceread.RLActivity" />
        <activity android:name=".ui.sourceread.LLActivity" />
        <activity android:name=".ui.sourceread.VpActivity" />
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.rxjava.MainActivity" />
        <activity android:name=".ui.rxjava.SecondActivity" />
        <activity android:name=".ui.rxjava.BaseActivity" />
        <activity android:name=".ui.rxjava.ThirdActivity" />
        <activity android:name=".ui.rxjava.CustomViewActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.rxjava.ScrollTestActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".ui.rxjava.EventActivity" />
        <activity
            android:name=".ui.rxjava.DrawBitmapAvtivity"
            android:label="@string/title_activity_draw_bitmap_avtivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.rxjava.DaggerActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".ui.sourceread.ReadSourceActivity" />
        <activity android:name=".ui.customview.RVActivity" />
        <activity android:name=".ui.jetpack.hilt.ui.main.MainActivity" />
        <activity android:name="com.github.vitaviva.hilt.ui.second.SecondActivity" />
        <activity android:name=".ui.jetpack.databinding.MainActivity" />
        <activity android:name=".ui.jetpack.databinding.MainActivity2" />
        <activity android:name=".ui.jetpack.databinding.MainActivity3" />
        <activity android:name=".ui.jetpack.databinding.MainActivity4" />
        <activity android:name=".ui.jetpack.databinding.MainActivity5" />
        <activity android:name=".ui.jetpack.databinding.MainActivity6" />
        <activity android:name=".ui.jetpack.databinding.MainActivity7" />
        <activity android:name=".ui.jetpack.databinding.MainActivity8" />
        <activity android:name=".ui.jetpack.databinding.MainActivity9" />
        <activity android:name=".ui.jetpack.databinding.MainActivity10" />
        <activity android:name=".ui.jetpack.databinding.MainActivity11" />
        <activity android:name=".ui.jetpack.databinding.MainActivity12" />
        <activity android:name=".ui.jetpack.databinding.MainActivity13" />
        <activity android:name="com.hi.dhl.paging3.network.ui.MainPagingActivity" />
        <activity android:name=".ui.sourceread.TestMeasureSpecActivity" />
        <activity android:name=".ui.customview.RVCoverActivity" />
        <activity android:name=".ui.customview.RV1Activity" />
        <activity android:name=".ui.practice.CoordinatorLayoutActivity" />
        <activity android:name=".ui.practice.constraint.ConstraintActivity" />
        <activity android:name=".ui.practice.PracticeGuideActivity" />

        <service android:name=".ui.rxjava.CalcService">

            <!--
            <intent-filter>
                <action android:name="aidl.calc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </service>
    </application>

</manifest>