<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shixin.rxjava">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        tools:overrideLibrary="com.hi.dhl.jdatabinding" />

    <application
        android:name="com.shixin.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shixin.ui.ndktest.NdkTestActivity"/>
        <activity android:name="com.shixin.jetpack.livedata.ui.NameActivity" />
        <activity android:name="com.shixin.koin.ui.MySimpleKoinActivity" />
        <activity android:name="com.shixin.jetpack.databinding.DatabingTestActivity" />
        <activity android:name="com.shixin.ui.sourceread.RLActivity" />
        <activity android:name="com.shixin.ui.sourceread.LLActivity" />
        <activity android:name="com.shixin.ui.sourceread.VpActivity" />
        <activity android:name="com.shixin.ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".CustomViewActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ScrollTestActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".EventActivity" />
        <activity
            android:name=".DrawBitmapAvtivity"
            android:label="@string/title_activity_draw_bitmap_avtivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".DaggerActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name="com.shixin.ui.sourceread.ReadSourceActivity" />
        <activity android:name="com.shixin.ui.customview.RVActivity" />
        <activity android:name="com.shixin.jetpack.hilt.ui.main.MainActivity" />
        <activity android:name="com.github.vitaviva.hilt.ui.second.SecondActivity" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity2" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity3" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity4" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity5" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity6" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity7" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity8" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity9" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity10" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity11" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity12" />
        <activity android:name="com.shixin.jetpack.databinding.MainActivity13" />
        <activity android:name="com.hi.dhl.paging3.network.ui.MainPagingActivity" />
        <activity android:name="com.shixin.ui.sourceread.TestMeasureSpecActivity" />

        <service android:name=".CalcService">

            <!--
            <intent-filter>
                <action android:name="aidl.calc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </service>
    </application>
</manifest>